<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input ngModel="nombreUsuario" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input ngModel="contrasena" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>
    <ion-button expand="block" routerLink="/registro">Registrarse</ion-button>
  </form>
</ion-content>
