<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div *ngIf="loginError" class="login-error">
    Usuario o contraseña incorrectos. Por favor, intenta de nuevo.
  </div>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="nombreUsuario" name="username" required #usernameRef="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="usernameRef.touched && usernameRef.errors?.['required']" class="error-message">
      El nombre de usuario es requerido.
    </div>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="contrasena" name="password" required #passwordRef="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="passwordRef.touched && passwordRef.errors?.['required']" class="error-message">
      La contraseña es requerida.
    </div>
    

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
    <ion-button expand="block" routerLink="/auth/registro">Registrarse</ion-button>
  </form>
</ion-content>
