.boton-crear-tarea {
    position: fixed;
    bottom: 5%;
    right: 8%;
   
  }
  
  .boton-crear-tarea {
    --border-radius: 50%; 
    --background: var(--ion-color-primary); 
  }


.completada {
    color: green;
    text-align: left;    
}
  
.no-completada {
    color: red;
    text-align: left;    

}
  
.tabs {
  margin-bottom: 0%;
}
  
  
.item-botones {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.boton-completar {
  margin-left: auto;
  border-radius: 10%; 
  --background: darkgreen;
}

.boton-desmarcar {
  justify-content: flex-end;
  border-radius: 10%;
  --background: darkred;
}
