.boton-crear-tarea {
    position: fixed;
    bottom: 5%;
    right: 8%;
   
  }
  
  ion-button {
    --border-radius: 50%; 
    --background: var(--ion-color-primary); 
  }


.completada {
    color: green;
    text-align: right;    
}
  
.enProceso {
    color: red;
    text-align: right;    

}
  
  
  