ion-content {
    ion-item {
      --padding-start: 20px;
      --padding-end: 20px;
      --inner-padding-end: 20px;
      margin-top: 8px;
    }
  
    ion-label {
      font-size: 1.2rem;
    }
  
    ion-button {
      margin-top: 16px;
      padding-left: 25%;
      padding-right: 25%;
    }
  
    .boton-accion {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      ion-button {
        flex-grow: 1;
        margin: 0 8px;
      }
    }
    .boton-eliminar {
        padding-left: 37%;
        border-radius: 50%;
    }
  }
  