<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.apellidos" name="apellidos" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="nuevaContrasena" name="nuevaContrasena"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Guardar Cambios</ion-button>
  </form>
</ion-content>
